@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Retrophilia';
    font-weight: 700;
    font-style: normal;
    src: url('@/assets/fonts/retrophilia/Retrophilia.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('@/assets/fonts/lato/Lato-Regular.ttf') format('truetype');
  }
}

@layer components {
  .section {
    @apply my-0 mx-4 md:mx-8 xl:mx-auto xl:max-w-7xl
  }

  .page-header {
    @apply font-serif text-secondary lowercase tracking-wide text-[2.75rem] leading-10 md:text-[3rem] lg:text-[3.25rem]
  }

  .card-header {
    @apply font-serif text-secondary tracking-wider text-xl md:text-2xl pt-2 md:pt-0
  }

  .btn-text {
    @apply font-serif text-secondary lowercase text-base md:text-xl hover:text-accent tracking-widest
  }
}