@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Retrophilia';
    font-weight: 700;
    font-style: normal;
    src: url('@/assets/fonts/retrophilia/Retrophilia.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('@/assets/fonts/lato/Lato-Regular.ttf') format('truetype');
  }
}

@layer components {
  .section {
    @apply my-0 mx-4 md:mx-8 xl:mx-auto xl:max-w-7xl
  }

  .page-header {
    @apply font-serif text-secondary lowercase tracking-wide text-[2.25rem] leading-9 md:text-[2.75rem] lg:text-[3.25rem] md:leading-10
  }

  .card-header {
    @apply font-serif text-secondary text-xl md:text-2xl pt-2 md:pt-0
  }

  .btn-text {
    @apply font-sans text-secondary lowercase font-normal text-base md:text-xl tracking-wide
  }
}