@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Retrophilia';
    font-weight: 700;
    font-style: normal;
    src: url('@/assets/fonts/retrophilia/Retrophilia.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('@/assets/fonts/lato/Lato-Regular.ttf') format('truetype');
  }
}
